.container {
  padding: 24px;
  max-width: 1200px;
  margin: 20px auto;
  position: relative;


  .top-right {
    position: absolute;
    top: 6px;
    right: -600px;

    button[mat-raised-button] {
      display: flex;
      align-items: center;
      gap: 8px;
      background-color: darkblue;
    }
  }

  h1 {
    color: #3f51b5;
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 24px;
    color: #555;
  }
}

.admin-main-layout {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
  overflow: hidden;
}

.admin-sidenav-container {
  flex-grow: 1; 
  background-color: #f5f5f5; 
}

.admin-sidenav-panel {
  width: 220px;
  padding: 16px;
  border-right: 1px solid rgba(0, 0, 0, .12);
  background-color: #252525;

  .sidenav-bottom-btn {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 16px 0 16px 16px;
    background: inherit;
    box-sizing: border-box;
  }
}

.admin-content-area {


  .content-wrapper {
    padding: 20px; 
  }
}

.mat-nav-list .mat-list-item {
  &.active-nav-item {
    background-color: rgba(0, 0, 0, 0.04); 
    font-weight: bold;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }
}

.tutor-toolbar {
  background: #424242 !important;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.03);
  min-height: 56px;
}