.container {
  padding: 24px;
  max-width: 1200px;
  margin: 20px auto;
  position: relative;


  .top-right {
    position: absolute;
    top: 6px;
    right: -600px;

    button[mat-raised-button] {
      display: flex;
      align-items: center;
      gap: 8px;
      background-color: darkblue;
    }
  }

  h1 {
    color: #3f51b5;
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 24px;
    color: #555;
  }
}

.admin-main-layout {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px - 70px); 
}

.admin-sidenav-container {
  flex-grow: 1; 
  background-color: #f5f5f5; 
}

.admin-sidenav-panel {
  width: 250px;
  padding: 16px;
  border-right: 1px solid rgba(0, 0, 0, .12); 
}

.admin-content-area {


  .content-wrapper {
    padding: 20px; 
  }
}

.mat-nav-list .mat-list-item {
  &.active-nav-item {
    background-color: rgba(0, 0, 0, 0.04); 
    font-weight: bold;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }
}