<ng-container *ngIf="currentUrl !== '/auth/login' && currentUrl !== '/auth/register'">
  <div class="profile-icon-container">
    <button [matMenuTriggerFor]="profileMenu"  class="avatar-btn custom-avatar-btn">
      <span class="avatar-circle">{{ userName ? userName[0] : '?' }}</span>
    </button>
    <mat-menu #profileMenu="matMenu">      <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Profil</span>
      </button>
      <button mat-menu-item routerLink="/student" *ngIf="(isStudent$ | async) || (isAdmin$ | async)">
        <mat-icon>school</mat-icon>
        <span>Student Dashboard</span>
      </button>
      <button mat-menu-item routerLink="/tutor-dashboard" *ngIf="(isTutor$ | async) || (isAdmin$ | async)">
        <mat-icon>school</mat-icon>
        <span>Tutor Dashboard</span>
      </button>
      <button mat-menu-item routerLink="/admin" *ngIf="isAdmin$ | async">
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Admin Dashboard</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</ng-container>
<router-outlet></router-outlet>