.profile-icon-container {
  position: fixed;
  top: 8px; 
  right: 16px;
  z-index: 1000;

  button[mat-icon-button] {
    width: 50px;     
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    line-height: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;  
  }
  mat-icon {
    font-size: 40px; 
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}