<ng-container *ngIf="currentUrl !== '/auth/login' && currentUrl !== '/auth/register'">
  <div class="profile-icon-container">
    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item routerLink="/profile">Profil</button>
      <button mat-menu-item routerLink="/tutor-dashboard">Tutor Dashboard</button>
      <button mat-menu-item routerLink="/admin">Admin Dashboard</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>
</ng-container>
<router-outlet></router-outlet>