/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';  // Wähle dein gewünschtes Material-Theme

html, body { height: 100%; overflow-x: auto; overflow-y: auto; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Error Snackbar Styling
.error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
  
  .mat-mdc-snack-bar-label {
    white-space: pre-line;
  }
}