<!-- register.component.html -->
<form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">
    <div *ngIf="RegisterForm.get('email')?.invalid && RegisterForm.get('email')?.touched">
      <span *ngIf="RegisterForm.get('email')?.errors?.['required']">Email ist erforderlich</span>
      <span *ngIf="RegisterForm.get('email')?.errors?.['email']">Bitte geben Sie eine gültige Email ein</span>
    </div>
  </div>
  
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name">
    <div *ngIf="RegisterForm.get('name')?.invalid && RegisterForm.get('name')?.touched">
      <span *ngIf="RegisterForm.get('name')?.errors?.['required']">Name ist erforderlich</span>
    </div>
  </div>
  
  <div>
    <label for="password">Passwort</label>
    <input id="password" type="password" formControlName="password">
    <div *ngIf="RegisterForm.get('password')?.invalid && RegisterForm.get('password')?.touched">
      <span *ngIf="RegisterForm.get('password')?.errors?.['required']">Passwort ist erforderlich</span>
      <span *ngIf="RegisterForm.get('password')?.errors?.['minlength']">Das Passwort muss mindestens 6 Zeichen haben</span>
    </div>
  </div>
  
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  
  <button type="submit" [disabled]="RegisterForm.invalid || loading">
    <span *ngIf="!loading">Registrieren</span>
    <span *ngIf="loading">Wird registriert...</span>
  </button>
  
  <div>
    <a routerLink="/auth/login">Bereits registriert? Zum Login</a>
  </div>
</form>

