.mat-elevation-z2-student-table,
table.mat-table {
  font-size: 1.2rem; // größere Schrift
  th {
    font-size: 1.5rem;
    background: #2b2c2c; // Kopfzeile blau
    color: #fff;         // Text weiß
  }
    td {
    font-size: 1rem;
    background: #404041; // Zellen hellgrau
    color: #ffffff;
  }
}

